@model Lab2_DIS.Models.Team

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Team</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Team_ID" />
            <div class="form-group">
                <label asp-for="Team_Name" class="control-label"></label>
                <input asp-for="Team_Name" class="form-control" />
                <span asp-validation-for="Team_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Team_Leader" class="control-label"></label>
                <input asp-for="Team_Leader" class="form-control" />
                <span asp-validation-for="Team_Leader" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Programmer1" class="control-label"></label>
                <input asp-for="Programmer1" class="form-control" />
                <span asp-validation-for="Programmer1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Programmer2" class="control-label"></label>
                <input asp-for="Programmer2" class="form-control" />
                <span asp-validation-for="Programmer2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Programmer3" class="control-label"></label>
                <input asp-for="Programmer3" class="form-control" />
                <span asp-validation-for="Programmer3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
