@{
    ViewData["Title"] = "Company Database";
}

<h2>Company Database</h2>
<ul>
    <li><h3><a href="/Programmers">Programmers</a></h3></li>
    @*<li><h3><a href="/Teams">Teams</a></h3></li>*@
</ul>
